body {
    background-color: #aaa;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 1rem;
}

ul {
    padding: 0rem;
}

li {
    list-style-type: none;
}

hr {
    height: 1px;
    background-color: #fff;
    border: none;
}

#page-title {
    margin: 1rem;
}

#map-and-layer-list {
    width: 100vp;
    height: 35rem;
    margin: 1rem;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#feature-details {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 15rem;
    height: 18rem;
    background-color: #bbb;
    padding: 1rem;
}

#feature-details .label {
    margin: 0rem;
}

#feature-details .list {
    overflow: scroll;
    font-size: small;
    height: 84%;
}

.field-name {
    font-weight: bold;
}

#layer-list {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 15rem;
    height: 18rem;
    background-color: #bbb;
    padding: 1rem;
}

#layer-list .label {
    margin: 0rem;
}

#filter-list {
    background-color: #bbb;
    width: 100vp;
    height: auto;
    padding: 1rem;
    margin: 1rem;
}

#filter-list .label {
    margin: 0rem;
}

.layer {
    position: relative;
    margin-bottom: .5rem;
}

.layer-checkbox {
    position: relative;
    bottom: .1rem;
    margin: .1rem;
}

.layer-type-marker {
    position: absolute;
    top: .1rem;
    right: .5rem;
}

button {
    border: default;
    color: #000000;
    margin-top: 1rem;
}

.filter [type="text"] {
    color: #000000;
    float: left;
}

.filter div {
    float: left;
    margin-left: 1rem;
}

.filter h4 {
    margin-bottom: .5rem;
}
