body {
    padding: 15px 50px;
    background-color: #cccccc;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

#map-and-layer-list {
    height: 500px;
    width: 90vp;
    margin: auto;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

#layer-list {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 200px;
    height: 300px;
    background-color: #cccccc;
    padding: 25px;
}

#layer-list-label {
    margin: 0px;
}

#filter-list {
    background-color: #dddddd;
    width: 90vp;
    margin: auto;
    height: 200px;
}

#filter-list-label {
    padding: 25px;
}