/*
*   Body styles
*/

body {
    background-color: #aaa;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 1rem;
}

ul {
    padding: 0rem;
}

li {
    list-style-type: none;
}

hr {
    height: 1px;
    background-color: #fff;
    border: none;
}

input {
    color: black;
}

#page-title {
    margin: 1rem;
}

#map-and-feature-list {
    width: 100vp;
    height: 35rem;
    margin: 1rem;
    position: relative;
}

#map {
    border: 5px solid #fff;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.leaflet-popup-content-wrapper {
    border: 5px solid #fff;
    max-width: 15rem;
    max-height: 15rem;
    background-color: #bbb;
    overflow-y: scroll;
}

.field-name {
    font-weight: bold;
}

#layer-list {
    float: left;
    background-color: #bbb;
    width: auto;
    height: auto;
    padding: 1rem;
    margin: 1rem;
}

#layer-list .label {
    margin: 0rem;
}

#filter-list {
    float: left;
    background-color: #bbb;
    width: auto;
    height: auto;
    padding: 1rem;
    margin: 1rem;
}

#filter-list .label {
    margin: 0rem;
}

#filter-list .filter {
    padding-bottom: 1em;
}

#filter-list h4 {
    margin: 0;
}

#filter-list .inputs {
    margin: 1em;
}

#filter-list .subtypes {
    margin: 1em;
}

#filter-list .subtypes::after {
    content: "";
    clear: both;
    display: table;
}

#filter-list .subtypes div {
    float: left;
    padding-right: 1em;
}

.layer {
    position: relative;
    margin-bottom: .5rem;
}

.layer-name {
    margin-right: 2rem;
}

.layer-checkbox {
    position: relative;
    bottom: .1rem;
    margin: .1rem;
}

.layer-type-marker {
    float: right;
    position: relative;
    top: .1rem;
    right: .5rem;
}

button {
    border: default;
    color: #000000;
    margin-top: 1rem;
}

#results-list {
    background-color: #bbb;
    float: right;
    border: 1rem solid #bbb;
    margin: 1rem;
    white-space: nowrap;
}

#results-list .label {
    margin: 0rem;
}

#results-list .list {
    max-width: 350px;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.result {
    cursor: pointer;
    margin: 4px;
}

.result .layer {
    font-weight: bold;
    margin-right: .5em;
}
