<li class="feature-detail" title="{{description}}">
    <span class="field-name">{{displayName}}:</span>
    <span class="field-value"{{#if color}} style="color: {{color}};"{{/if}}>{{value}}</span>
</li>
