<li class="layer" index="{{ index }}">
    <input class="layer-checkbox" type="checkbox" class="visible-checkbox">
    <span class="layer-name">{{name}}</span>
    {{#if raster}}<span class="layer-type-marker raster">ⓡ</span>
    {{else}}<span class="layer-type-marker vector">ⓥ</span>
    {{/if}}
</li>
