<div class="filter">
    <h4>Filter by unique ID</h4>
    <div class="inputs">
        <input type="text" index="{{index}}" class="input">
    </div>
    <div class="subtypes">
        {{#each subtypes}}
            <div>
                <input type="checkbox" index="{{index}}" class="subtype" subtype="{{name}}" checked="checked">
                <span>{{displayName}}<span>
            </div>
        {{/each}}
    </div>
</div>
